
body {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

#main-body {
  border: 1px solid black;
  height: 100vh;
  width: 100%;

}

#pagetitle {
  font-size: 14px;
  font-family: "Comic Sans MS";
  text-align: center;

}

header {
  background-color: #c1c1c1;
  text-align: center;
  border-bottom: 1px solid black;
  height: 15%;
  min-height: 100px;

}

#all-fields {
  width: 100%;
  display: flex;

}

#buttons {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

}

#search-field {
  width: 30%;
  height: 30%;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  display: flex;

}

#brett-field {
  width: 65%;
  height: 30%;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  position: relative;

}

#brett-field input {
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  margin-right: 5px;

}

#buttons img {
  width: 20%;

}

#search-input {
  position: absolute;
  width: 80%;
}

#search-input input {
  position: absolute;
  width: 65%;
  border-radius: 10px;
  border: 1px solid black;

}

#search-input img {
  width: 15px;
  position: absolute;
  padding: 5px;

}

#allfields {
  margin: 0 auto;
  display: flex;
  padding-bottom: 15px;

}

form {
  font-size: 14px;
  font-family: "Comic Sans MS";
  margin: 25px auto;

}

#formboxes {
  width: 100%;
  display: flex;

}

form p {
  font-size: 25px;

}

form label input {
  width: 300px;
  margin-left: 15px;
  margin-top: 25px;
  height: 25px;
  border: 1px solid black;
}

#checkboxarea {
  display: flex;
  margin: 0 auto;
  width: 400px;
}
  
#check-boxes {
  font-family: "Comic Sans MS";
  width: 100%;
  display: flex;
  
}

#check-box label {
 display: flex;
 margin-left: 5px;
 width: 350px;
}

button {
  border: 1px solid black;
  box-shadow: 2px 2px;
  background: white;
  margin: 20px auto;
  display: flex;
  font-family: "Comic Sans MS";

}

footer {
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100vw;
  background-color: #c1c1c1;
  border-top: 1px solid black;
}